<!DOCTYPE html>
<html>
<head>
	<title>Flask App Demo</title>
	<meta charset="utf-8">
	 <script type = "text/javascript"   src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
</head>
 <body>
      <input type = "button" onclick = "sayHello()" value = "Say Hello" />
      <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
    {% endfor %}
   </body>
</html>
